@import '@/styles/color.scss';
@import '@/styles/media.scss';

.wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: $background-color-alt;
    display: flex;
    height: fit-content;
    @include mobile {
        flex-direction: column;
        padding: 0 4rem;
    }
    @include tablet {
        flex-direction: column;
        padding: 0 6rem;
    }
    @include desktop {
        flex-direction: row;
        padding: 0 10rem;
    }
    align-items: center;
    border-bottom: 3px solid #CDC2AE;
    // justify-content: center;
}

.title {
    flex: 0.3;
    width: fit-content
}

.title p {
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.15em;
    color: $primary-color;
    font-size: 2em;
    border-right: 0.15em solid $alt-color;
    @include mobile {
        animation: 
        typing 2s steps(30, end),
        blinking-cursor 0.9s steps(2, end) infinite;
    }
    @include desktop {
        animation: 
        typing-desktop 3s steps(15, end),
        blinking-cursor 0.9s steps(2, end) infinite;
    }
    width: fit-content
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

@keyframes typing-desktop {
    from {width: 0}
    to {width: 50%}
}

@keyframes blinking-cursor {
    from, to {border-color: transparent;}
    0% {border-color: $alt-color;}
}

.nav {
    flex-grow: 1;
}