@import './media.scss';
@import './color.scss';

@mixin mobile { @media (max-width: #{$mobile-width - 1}) {
        @content;
    }
}

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1}) {
        @content;
    }
}

@mixin desktop { @media (min-width: #{$desktop-width}) {
        @content;
    }
}

.container {
    @include desktop {
      padding: 0 6rem;
    }
    @include tablet {
      padding: 0 4rem;
    }
    @include mobile {
      padding: 0 2rem;
    }
}

.text-primary {
    color: $primary-color
}

.text-secondary {
    color: $secondary-color
}