$primary-color: #54BAB9; // Text
$secondary-color: #FBE3B9; // Button and stuff should use this color
$alt-color: #5E454B;
$background-color: #FBF8F1; // Main background color
$background-color-alt: #F7ECDE; // Background of popups and navbars